{% extends 'layout.html' %}

{% block content %}
  <h1 class="text-center">My Twitter Clone</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Home</h2>
        <div class="list-group">
          {% for tweet in tweets %}
            <a href="#" class="list-group-item list-group-item-action">
              <img src="{{ tweet.user.avatar }}" class="rounded-circle mr-2" alt="User avatar">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ tweet.user.name }}</h5>
                <small class="text-muted">@{{ tweet.user.username }}</small>
              </div>
              <p class="mb-1">{{ tweet.text }}</p>
              <small class="text-muted">{{ tweet.created_at }}</small>
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="text-center">Compose Tweet</h2>
        <form action="/" method="post">
          <input type="text" name="name" placeholder="Enter your name">
          <input type="text" name="tweet" placeholder="What's happening?">
          <input type="submit" value="Tweet">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
